
{{#if logged_in}}
    <div class = "row justify-content-center">
        <div class="col-12 col-lg-2">
<!--Profile Section-->
            <div class="card card-left1 mb-4">
                <!--<img src="img/photo-1455448972184-de647495d428.jpg" alt="" class="card-img-top img-fluid">-->
                <div class="card-body text-center ">
                    <!--<img src="img/avatar-dhg.png" alt="img" width="120px" height="120px" class="rounded-circle mt-n5">-->
                    <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
                    <p class="card-text justify-content-center">{{user.username}}</p>
                </div>
            </div>
        </div>
<!--Feed-->
        <div class="col-12 col-lg-6">
            <div class="middle-column">
                <div class="card">
                    <div class="card-body">
                        {{#each Posts as |Post|}}
                        <div class="media">
                            <!--<img src="img/avatar-dhg.png" alt="img" width="55px" height="55px" class="rounded-circle mr-3">-->
                            <div class="media-body">
                                <h5>{{Post.post_title}}</h5>
                                <p class="card-text text-justify">{{Post.post_content}}</p>
                                <div class="card-text text-justify">
                                    <div class="justify-content-center">
                                        <img src= "{{Post.post_image_link}}" alt="" class="img-fluid mb-2" />
                                    </div>
                                </div>
                                <small class="text-end">{{Post.post_date_created}}</small>
                               {{#if Post.comment_content}}
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <p>{{Post.comment_content}}</p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <img src="https://pic.onlinewebfonts.com/svg/img_569204.png" alt="avatar" width="25"
                                                    height="25" />
                                                <p class="small mb-0 ms-2">&nbsp; {{Post.comment_username}}</p>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <p class="small text-muted mb-0">{{Post.post_date_created}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               {{else}}

                                {{/if}}
                            </div>
                            
                        </div>
                        <hr>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
<!--Post-->
        <div class="col-12 col-lg-4">
            <div class="middle-column">
                <div class="card">
                    <div class="card-body">
                        <h5>Create a Post!</h5>
                        <form class="form signup-form">
                        <div class="form-group">
                        <label for="name-signup">Title:</label>
                        <input class="form-input" type="text" id="Post-name" />
                        </div>
                        <div class="form-group">
                        <label for="name-signup">Content:</label>
                        <textarea class="form-input" type="text" id="Post-desc"></textarea>
                        </div>
                        <div class="form-group">
                        <label for="name-signup">Image Link:</label>
                        <input class="form-input" type="text" id="Post-image"/>
                        </div>
                        </form>
                        <button data-id='{{userID}}' id="Post" >Post</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <a href="/login">You must login first to view this page</a>
{{/if}}

<script src="./js/homepage.js"></script>