<section class="row d-flex flex-row justify-content-around">
  {{! user bio }}
  <section id="bio" class="col-12 col-lg-3">
    <div class="card-body text-center p-5 mb-4 bg-white border-0 rounded-md">
      <img src="https://pic.onlinewebfonts.com/svg/img_569204.png" alt="avatar" width="50%"
        class="py-4 custom-color-icon" />
      <h2>{{user.firstname}} {{user.lastname}}</h2>
      <p class="custom-color-text">{{user.profile.education}}</p>
      <p class="custom-color-text">{{user.profile.experience}}</p>
      <a href="{{user.profile.portfolio_website}}">My portfolio</a>
    </div>
  </section>

  {{! main content(projects and blog posts) }}
  <section id="content" class="container col-12 col-lg-9">
    <div class="mb-4 bg-white border-0 rounded-md p-4">
      <h5>Project Highlights</h5>
      <hr />
      <section id="projects" class="d-flex justify-content-around m-3">
        {{#if user.profile.project1}}
        <a href="{{user.profile.project1_link}}">{{user.profile.project1}}</a>
        {{/if}}
        {{#if user.profile.project2}}
        <a href="{{user.profile.project2_link}}">{{user.profile.project2}}</a>
        {{/if}}
        {{#if user.profile.project3}}
        <a href="{{user.profile.project3_link}}">{{user.profile.project3}}</a>
        {{/if}}
      </section>

    </div>

    <div class="mb-4 bg-white border-0 rounded-md p-4">
      <h5>Posts</h5>
      {{#each user.posts as |post|}}
      <hr />
      <div id="userPosts">
        <div class="d-flex flex-row justify-content-between align-items-center">
          <h3>{{post.title}}</h3>
          <p class="small text-muted mb-0">{{format_date
            post.date_created
            }}</p>
        </div>
        <p>{{post.content}}</p>
        <img src="{{post.image_link}}" alt="" class="img-fluid mb-2" />

      </div>
      {{/each}}
    </div>
  </section>
</section>